@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> _signInManager
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (_signInManager.IsSignedIn(User))
    {
        <h5>@User.Identity.Name</h5>
    }

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
